.container-content{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.content-title h1{
    color: #56FF95;
}


.content-cover img{
    border: solid 3px rgb(188, 186, 186);
    width: 450px;
    height: 280px;
    min-width: 500px;
    border-radius: 5px;
}

.content-description p{
    color: gray;
    margin-top: 15px;
    width: 600px;
    text-align: justify;
}

.container-content a{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color: #56FF95;
    margin-top: 10px;
    margin-bottom: 20px;
}